@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using WebApplication2.Models
@model Employee

<h3>Dp you want to delete this Employee?</h3>

<div>
    Employee No  :  @Model.EmpNo  <br/>
    Employee Name  :  @Model.Ename  <br/>
    Job  :  @Model.Job<br/>
    Salary  :  @Model.Salary<br/>
    Depatment No  :  @Model.DeptNo<br/>
</div>
<form  action="/Employee/Delete" method="post">
     <input name="id" type="hidden" value="@Model.EmpNo" />
     <input type="submit" value="Delete" />
</form>

<hr/>
 <a href="/Employee/Index">Back to List</a>